{
  "comments": false,
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["root-import", { "rootPathSuffix": "src" }]
  ]
}
